url = "/blog-page/:page?"
layout = "default"
title = "Blog"

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :slug }}"
postsPerPage = 1
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "category"
postPage = "blog-details"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 1
categoryPage = "category"
==
<!-- breadcrumb area start -->


<main>
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap">
                        <nav aria-label="breadcrumb">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{{'home'| page}}"><i class="fa fa-home"></i></a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">blog sidebar</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->



    <!-- blog main wrapper start -->
    <div class="blog-main-wrapper section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 order-2">
                    <aside class="blog-sidebar-wrapper">
                        <div class="blog-sidebar">
                            <h4 class="title">Search</h4>
                            <div class="sidebar-serch-form">
                                <form action="#">
                                    <input type="text" class="search-field" placeholder="search here">
                                    <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div> <!-- single sidebar end -->
                        <div class="blog-sidebar">
                            <h4 class="title">Categories</h4>
                            {%component 'blogCategories'%}
                        </div>

                    </aside>
                </div>
                <div class="col-lg-9 order-1">
                    <div class="blog-item-wrapper">
                        <!-- blog item wrapper end -->
                        <div class="row mbn-30">
                            {% for post in blogPosts.posts %}
                            <div class="col-md-6">

                                <div class="blog-post-item mb-30">
                                    <figure class="blog-thumb">
                                        <a href="{{  post.url }}">
                                            {% for image in post.featured_images|slice(0, 1) %}
                                            <img src="{{ image.path }}" alt="blog image">
                                            {% endfor %}
                                        </a>
                                    </figure>
                                    <div class="blog-content">
                                        <div class="blog-meta">
                                            <p>{{post.published_at| date('d M')}}</p>
                                        </div>
                                        <h3 class="blog-title">
                                            <a href="{{  post.url }}">{{post.title}}</a>
                                        </h3>
                                        <p class="blog-desc">{{post.excerpt}}</p>
                                        <a href="{{  post.url }}" class="read-more">Read More</a>
                                    </div>
                                </div>

                            </div>
                            {% endfor %}
                        </div>
                        <!-- blog item wrapper end -->

                        <!-- start pagination area -->
                        {% if posts.lastPage > 1 %}
                        <div class="paginatoin-area text-center">
                            <ul class="pagination-box d-flex flex-wrap">
                                {% if posts.currentPage > 1 %}
                                <li><a href="{{ 'blog-page'| page({page: posts.currentPage-1})}}"><i
                                            class="fa fa-angle-left"></i></a></li>
                                {% endif %}
                                {% for page in 1..posts.lastPage%}

                                <li class="{{posts.currentPage == page ? 'active' : null }}"><a
                                        href="{{ 'blog-page'| page({page:page})}}">{{page}}</a></li>

                                {% endfor %}
                                {% if posts.currentPage != posts.lastPage %}
                                <li><a href="{{ 'blog-page'| page({page: posts.currentPage+1})}}"><i
                                            class="fa fa-angle-right"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>
                        {% endif %}
                        <!-- end pagination area -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>