<!DOCTYPE html>
<html
    class="js sizes customelements history pointerevents postmessage webgl websockets cssanimations csscolumns csscolumns-width csscolumns-span csscolumns-fill csscolumns-gap csscolumns-rule csscolumns-rulecolor csscolumns-rulestyle csscolumns-rulewidth csscolumns-breakbefore csscolumns-breakafter csscolumns-breakinside flexbox picture srcset webworkers"
    lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{this.page.title}}</title>
    <meta name="robots" content="noindex, follow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{'assets/img/favicon.ico' | theme}}">

    <!-- CSS
	============================================ -->
    <!-- google fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700,700i%7CPoppins:300,300i,400,400i,500,500i,600,700,800,900&amp;display=swap"
        rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{'assets/css/vendor/bootstrap.min.css'| theme }}">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <!-- Pe-icon-7-stroke CSS -->
    <link rel="stylesheet" href="{{'assets/css/vendor/pe-icon-7-stroke.css'| theme}}">
    <!-- Font-awesome CSS -->
    <!-- <link rel="stylesheet" href="{{'assets/css/vendor/font-awesome.min.css'| theme}}"> -->
    <!-- Slick slider css -->
    <!-- <link rel="stylesheet" href="{{'assets/css/plugins/slick.min.css'| theme}}"> -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <!-- <link rel="stylesheet" href="node_modules/@glidejs/glide/dist/css/glide.core.min.css"> -->

    <!-- animate css -->
    <link rel="stylesheet" href="{{'assets/css/plugins/animate.css'| theme}}">
    <!-- Nice Select css -->
    <link rel="stylesheet" href="{{'assets/css/plugins/nice-select.css'| theme}}">
    <!-- jquery UI css -->
    <link rel="stylesheet" href="{{'assets/css/plugins/jqueryui.min.css'| theme}}">
    <!-- main style css -->
    <link rel="stylesheet" href="{{'assets/css/style.css'| theme}}">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/js/all.min.js"
        integrity="sha512-I2eVORN4ZTPhAiP2pz5d6wQ3ScD/h7ORW4WoCsl3/neI8RSrRnBl2kW3myjTUN+J0Ml4fRT31ZLz08gQb/eo1g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% styles %}
    <script type="text/javascript" charset="UTF-8"
        src="https://maps.googleapis.com/maps-api-v3/api/js/47/7a/intl/az_ALL/common.js"></script>
    <script type="text/javascript" charset="UTF-8"
        src="https://maps.googleapis.com/maps-api-v3/api/js/47/7a/intl/az_ALL/util.js"></script>
    <script type="text/javascript" charset="UTF-8"
        src="https://maps.googleapis.com/maps-api-v3/api/js/47/7a/intl/az_ALL/util.js"></script>
</head>

<body>
    {% partial 'header'%}
    {% page %}
    {% partial 'footer'%}

      <!--Go to top button start-->
    <button onclick="topFunction()" id="myBtn" title="Go to top" style="    height: 49px;
    width: 47px;
    justify-content: center;
    align-items: center;"><span><i class="fa-solid fa-angle-up"></i></span></button>
    <!-- Go to top button end -->

    <script src="{{'assets/js/vendor/modernizr-3.6.0.min.js'| theme }}"></script>
    <!-- jQuery JS -->
    <script src="{{'assets/js/vendor/jquery-3.6.0.min.js'| theme }}"></script>
    <!-- slick Slider JS -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <!-- <script type="text/javascript" src="node_modules/@glidejs/glide/dist/glide.min.js"></script> -->

    <!-- <script src="{{'assets/js/plugins/slick.min.js'| theme }}"></script> -->
   
    <script src="{{ 'assets/js/all.js' | theme }}"></script>
   
    <!-- Bootstrap JS -->
    <script src="{{'assets/js/vendor/bootstrap.bundle.min.js'| theme }}"></script>
    <!-- Nice Select JS -->
    <script src="{{'assets/js/plugins/nice-select.min.js'| theme }}"></script>
    <!-- jquery UI JS -->
    <script src="{{'assets/js/plugins/jqueryui.min.js'| theme }}"></script>
    <!-- Image zoom JS -->
    <script src="{{'assets/js/plugins/image-zoom.min.js'| theme }}"></script>
    <!-- mail-chimp active js -->
    <script src="{{'assets/js/plugins/ajaxchimp.js'| theme }}"></script>
    <!-- contact form dynamic js -->
    <script src="{{'assets/js/plugins/ajax-mail.js'| theme }}"></script>
    <!-- google map api -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfmCVTjRI007pC1Yk2o2d_EhgkjTsFVN8"></script>
    <!-- google map active js -->
    <script src="{{'assets/js/plugins/google-map.js'| theme }}"></script>
    <!-- Main JS -->
    <script src="{{'assets/js/main.js'| theme }}"></script>
    {% scripts %}
    {% framework extras %}
</body>

</html>