<footer class="black-bg">
    <!-- newsletter area start -->
    <section class="newsletter-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="newsletter-wrapper text-center">
                        <h3 class="title text-white">Join Our Newsletter</h3>
                        <form class="newsletter-inner" id="mc-form" novalidate="true">
                            <input type="email" class="news-field" id="mc-email" autocomplete="off" placeholder="Enter your email address" name="EMAIL">
                            <button class="news-btn" id="mc-submit">Subscribe</button>
                        </form>
                        <h6 class="newsletter-subtitle">To get the latest news from us please subscribe your email.</h6>
                        <!-- mailchimp-alerts Start -->
                        <div class="mailchimp-alerts">
                            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                            <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                            <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                        </div>
                        <!-- mailchimp-alerts end -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- newsletter area end -->
    <div class="footer-widget-area">
        <div class="container">
            <div class="row mtn-30">
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget-item mt-30">
                        <h6 class="widget-title">CUSTOM LINKS</h6>
                        <ul class="usefull-links">
                            <li><a href="#">Privacy policy</a></li>
                            <li><a href="#">Order status</a></li>
                            <li><a href="#">Returns &amp; exchanges</a></li>
                            <li><a href="#">Size guide</a></li>
                            <li><a href="#">Cart</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget-item mt-30">
                        <h6 class="widget-title">PRODUCTS</h6>
                        <ul class="usefull-links">
                            <li><a href="#">Prices drop</a></li>
                            <li><a href="#">New products</a></li>
                            <li><a href="#">Best sales</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="#">Stores</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget-item mt-30">
                        <h6 class="widget-title">OUR COMPANY</h6>
                        <ul class="usefull-links">
                            <li><a href="#">Delivery</a></li>
                            <li><a href="#">Legal notice</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Secure payment</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget-item mt-30">
                        <h6 class="widget-title">YOUR ACCOUNT</h6>
                        <ul class="usefull-links">
                            <li><a href="#">Personal info</a></li>
                            <li><a href="#">Orders</a></li>
                            <li><a href="#">Credit slips</a></li>
                            <li><a href="#">Addresses</a></li>
                            <li><a href="#">Stores</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area ">
        <div class="container">
            <div class="row ">
                <div class="col-12 d-flex justify-content-center">
                    <p class="copyright">© 2021 <b>Bego</b> Made with <i class="fa fa-heart text-danger"></i> by <a href="https://hasthemes.com/"><b>HasThemes</b></a></p>
                </div>
            </div>
        </div>
    </div>
</footer>